<div class="contact-form">

<div class="contact-content">
	<div class="cta"><h2>Want to work together?</h2>
		Enter your name and best email and tell me a little bit about your project.</div>

	<form action="this was i think a url with lots of random bits: pretty sure this comes from mailchimp"
      method="post"
      id="prospective-client"
      name="mc-embedded-subscribe-form"
      target="_blank"
      novalidate>
   
	<div class="input-box">
		<input type="name" value="" name="NAME" class="name" id="input-box" placeholder="Name">
	</div>

	<div class="input-box">
		<input type="email" value="" name="EMAIL" class="email" id="input-box" placeholder="Email Address">
	</div>

	<div class="description-box">
		<input type="description" value="" name="DESCRIPTION" class="description" id="description-box" placeholder="What can I help you with?">
	</div>

	<div class="submit-button">
  		<input type="submit" value="Let's get started!" name="subscribe" id="prospective-client" class="button">
  	</div>

	</form>

</div>

</div>