<div class="contact-form">
	Want to work together? Enter your name and best email address below.

	<form action="this was i think a url with lots of random bits: pretty sure this comes from mailchimp"
      method="post"
      id="prospective-client"
      name="mc-embedded-subscribe-form"
      target="_blank"
      novalidate>
   
	<div class="input-box">
		<input type="name" value="" name="NAME" class="name" id="input-box" placeholder="Name">
	</div>

	<div class="input-box">
		<input type="email" value="" name="EMAIL" class="email" id="input-box" placeholder="Email Address">
	</div>

	<div class="submit-button">
  		<input type="submit" value="Let's get started!" name="subscribe" id="prospective-client" class="button">
  	</div>

	</form>

</div>