<footer class="site-footer">

        <ul class="contact-list">
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>

      <div class="site-description">
        <p>{{ site.description | escape }}</p>
      </div>

</footer>
