<div class="gallery-section">
	
	<div class="gallery-container">
		<h2>Other Work</h2>

    <div class="square">
    	<div class="square-content"><a href=""><img src="/images/market.png" alt="market"></a></div>
    </div>
    <div class="square">
    	<div class="square-content"><img src="/images/market.png" alt="market" width="200px" height="200px"></div>
    </div>
    <div class="square">
    	<div class="square-content"><img src="/images/market.png" alt="market" width="200px" height="200px"></div>
    </div>

    <div class="square">
    	<div class="square-content"><img src="/images/market.png" alt="market" width="200px" height="200px"></div>
    </div>
    <div class="square">
    	<div class="square-content"><img src="/images/market.png" alt="market" width="200px" height="200px"></div>
    </div>
    <div class="square">
    	<div class="square-content"><img src="/images/market.png" alt="market" width="200px" height="200px"></div>
    </div>

	</div>

</div>