<div class="gallery-section">
	
	<div class="content-container">
		<h2>Other Work</h2>

    <div class="square">
    	<div class="square-content"><a href=""><img src="/images/80_percent_thumb.png" alt="business is 80 percent quote" width="200px" height="200px"></a></div>
    </div>
    <div class="square">
    	<div class="square-content"><img src="/images/marketing_is_thumb.png" alt="marketing is quote" width="200px" height="200px"></div>
    </div>
    <div class="square">
    	<div class="square-content"><img src="/images/toddler_thumb.png" alt="1910s toddler illustration" width="200px" height="200px"></div>
    </div>

    <div class="square">
    	<div class="square-content"><img src="/images/two-flat_thumb.png" alt="two-flat illustration" width="200px" height="200px"></div>
    </div>
    <div class="square">
    	<div class="square-content"><img src="/images/florence_thumb.png" alt="florence scala portrait" width="200px" height="200px"></div>
    </div>
    <div class="square">
    	<div class="square-content"><img src="/images/gabels_thumb.png" alt="gabels sign illustration" width="200px" height="200px"></div>
    </div>

	</div>

</div>