<div class="lcc-section">


  <div class="content-container">
       <h2>Logo and Visual Identity Design</h2>
       <h3>Lux Cantorum</h3>

    <div class="text"> 
    	 <p>Lux Cantorum is the premiere sacred choral music ensemble in Chicago. Formerly the Lutheran Choir of Chicago, Lux Cantorum underwent a name change to better align with their current values, vision, and membership. Although the choir repertoire and membership is longer Lutheran, they have a 70 year history of sacred choral music, and it was important for them to preserve some continuity with this tradition.</p>

       <p>
        
    </div>

    <div class="feature-image">
      <img src="/images/swift_kick_logo.png" alt="swift kick logo" width="200px">
    </div>

  </div>


</div>

  <div class="image-spread-desktop">
  	 <img src="images/swift_kick_images_desktop.png" width="100%">
  </div>

  <div class="image-spread-mobile">
  	 <img src="images/swift_kick_images_mobile.png" width="100%">
  </div>
