<div class="case-study-section">


  <div class="content-container">
    <h2><a href="#" id="portfolio" class="internal-link">Logo and Visual Identity Design</a></h2>
       <h3>Lux Cantorum</h3>


    <div class="text">
      <p>Lux Cantorum (roughly translated as <i>singers of light</i>) is the premiere sacred music choir in Chicago. Creating a logo for this organization was a balancing act—between religious and secular, young and old, rich history and new vision.</p>

    <div class="feature-image">
      <img src="/images/lux_cantorum_logo_blue.png" alt="Lux Cantorum Logo" width="200px">
    </div>

    <p>Formerly the Lutheran Choir of Chicago, Lux Cantorum underwent a name change to better align with their current values, vision, and membership, which they describe as "an inclusive, creative community sharing the the transformative power of sacred choral music." Although the choir's repertoire and membership is no longer Lutheran, they have a 70-year history singing sacred choral music, and it was important to preserve some continuity with this tradition.</p>

    <p>In addition to communicating the choir's new mission, goals for the rebranding included increasing concert attendance, securing new sources of funding, and attracting younger, non-Lutheran members. It was necessary to move away from the overtly religious name and iconography of the old brand in order to achieve these goals, but at the same time, the sacred nature of the music continues to be an important part of what the choir embodies for both audiences and choir members. What both the name and logo seek to do is incorporate imagery (light, inclusion, interconnectedness) that speaks to those ideas without specific religious images. A dark shade of blue was chosen as the primary color in order to maintain a sense of continuity with the previous brand.</p>

    </div>



  </div>


</div>

  <div class="image-spread-desktop">
  	 <img src="images/lux_cantorum_images.jpg" width="100%">
  </div>

  <div class="image-spread-mobile">
  	 <img src="images/lux_cantorum_images_mobile.jpg" width="100%">
  </div>
