<div class="swift-kick-section">


  <div class="content-container">
       <h2>Logo Design</h2>
       <h3>Swift Kick</h3>

    <div class="text"> 
    	 <p>Consultant and Trainer Kevin Griffin wanted to expand his business, and his previous moniker—<i>Kevin Griffin Consulting</i>—no longer made sense for the goals and direction of his business. The visuals I developed for Swift Kick reflect the owner’s demeanor: playful and approachable. Most new work comes from one-on-one interactions with potential clients, so it was essential that the brand fit well with who he is in person.</p>

		   <p>The logo needed to work in a variety of situations, so we developed variations optimized for different applications and outputs. I also created a brand “starter kit” by specifying colors and type choices to help the client maintain consistency across products, marketing materials, and website.</p>
    </div>

    <div class="feature-image">
      <img src="/images/swift_kick_logo.png" alt="swift kick logo" width="200px">
    </div>

  </div>


</div>

  <div class="image-spread-desktop">
  	 <img src="images/swift_kick_images_desktop.png" width="100%">
  </div>

  <div class="image-spread-mobile">
  	 <img src="images/swift_kick_images_mobile.png" width="100%">
  </div>


