<div class="type-burrito-section">


  <div class="content-container">
       <h2>Logo and Web Design</h2>
       <h3>Type Burrito</h3>

    <div class="text"> 
    	 <p>Typography: the perfect combination of rules, minutiae, art, science, and craft that makes my heart go pitter-patter. (I'm a regular party animal, I know.) I started this side project to teach designers and front-end developers about all things type. The more complex a topic, the harder and more time-consuming it is to corral resources from the web into a cohesive understanding of that topic. My goal is to create high-quality free resources to increase designers' skill and confidence with type, and publish more comprehensive e-book (due out later this year.)</p>

       <p>With the logo I wanted to communicate authority and accessibility in a way that fit the playful name of the website. Because the focus of this site is typography a particular challenge was type choice. In the end I opted to draw custom letterforms in order to achieve the "burrito wrapping" enclosing the logo.</p>

       <p>The design of the site itself is simple: the focus is on the articles and resources. Other design decisions help with updating and maintaining the site: similar elements are built of reusable chunks of code (something I've also done on here on my portfolio site) to help maintain visual consistency, and to make updates quick and easy.</p> 

    <div class="feature-image">
      <img src="/images/swift_kick_logo.png" alt="swift kick logo" width="200px">
    </div>

  </div>


</div>

  <div class="image-spread-desktop">
  	 <img src="images/swift_kick_images_desktop.png" width="100%">
  </div>

  <div class="image-spread-mobile">
  	 <img src="images/swift_kick_images_mobile.png" width="100%">
  </div>
