<div class="case-study-section">


  <div class="content-container">
       <h2>Logo and Web Design</h2>
       <h3>Type Burrito</h3>

       <div class="text">
    	   <p>Typography: a scrumptious combination of minutiae, craft, and science that makes my heart go pitter-patter. I started <a href="www.typeburitto.com">Type Burrito</a> to teach designers and front-end developers about type. My goal is to provide high-quality resources to increase designers' skill and confidence with type.</p>

         <p>The concept for the logo is fairly straightforward: the wordmark wraps itself like a burrito. A lot of designers and developers feel intimidated by typography, so it was important for the logo to feel accessible and not too overtly cool or trendy, which I learned from my audience adds to the sense of intimidation.</p>

         <p>The design of the site itself is simple, and the focus is on the articles and resources. I’ve used pattern libraries for both consistency of design and ease of updating.</p>

         <p>Type Burrito is a side project, and this is a first iteration which I plan to revisit. The focus for now has been on high-quality content (here’s an article I’m really proud of), which typically brings in 20-30K visitors to the site when I publish a new article. From just a few articles I have garnered over 700 sign-ups to my newsletter.</p>


    <div class="article-width-image">
      <img src="/images/type_burrito_screen_grab.png" alt="type burrito web site" width="100%">
    </div>

  </div>


</div>

</div>
