<div class="case-study-section">


  <div class="content-container">
       <h2>Logo and Web Design</h2>
       <h3>Type Burrito</h3>

    <div class="text"> 
    	 <p>Typography: the perfect combination of rules, minutiae, craft, and science that makes my heart go pitter-patter. (I'm a regular party animal, I know.) I started <a href="www.typeburitto.com">Type Burrito</a> to teach designers and front-end developers about type. My goal is to provide high-quality resources to increase designers' skill and confidence with type, and publish a more comprehensive e-book, due out this fall.</p>

       <p>With the logo I wanted to communicate authority and accessibility in a way that fit the playful name of the website. My initial instinct was to start with a typeface for the logotype, but because the "burrito wrapping" ligature was working well, I followed that idea and drew a custom logotype.</p>

       <p>The design of the site itself is simple, and the focus is on the articles and resources. Other design decisions help with updating and maintaining the site: similar elements are built of reusable chunks of code (something I've also done on here on my portfolio site) to help maintain visual consistency, and to make updates quick and easy.</p> 

    <div class="article-width-image">
      <img src="/images/type_burrito_screen_grab.png" alt="type burrito web site" width="100%">
    </div>

  </div>


</div>

</div>
