<div class="welcome-section">
  <div class="welcome-content">
    <div class="hi-there">
    	Hi There.
    </div>

    <div class="im-beth">
    	I'm Beth. Thanks for stopping by.
    </div>

    <div class="recent-work">
    	Here's some recent work including
    </div>

    <div class="web-design">
    	Web Design
    </div>

    <div class="illustration">
    	Illustration
    </div>

    <div class="logo-design">
    	Logo & Identity Design
    </div>

    <div class="hand-lettering">
    	Hand Lettering
    </div>

    <div class="fun-facts">
        <h2>Some other fun facts about me:</h2>
        <p>I teach people about typography over at <a href="http://typeburrito.com/">TypeBurrito.com</a>. I have written and illustrated 2(!) books about pooping for my toddler. My superpower is opening really difficult packaging. If you're still reading you deserve a cookie.</p>
    </div>

   </div>
</div>