---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Import partials from `sass_dir` (defaults to `_sass`)
@import "reset";
@import "syntax-highlighting";
@import "variables";




/* default.html, incl nav and footer, type formatting */

.nav-links {
  li {
    display: inline;
    padding: .2rem;
    @include media-query($desktop) {
    padding: .4rem;
    }
  }
  font-family: $header-font-family;
  font-size: $font-size-1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style-type: none;
  position: absolute;
  right: 0rem;
  text-align: right;
  width: 100%;
  padding-top: .6rem;
  padding-right: 1rem;
  @include media-query($desktop) {
  font-size: $font-size-2;
  letter-spacing: 1.6px;
  padding-right: 9rem;
  padding-top: 1.6rem;
  }
}

h1 {
  font-family: $header-font-family;
  font-size: $font-size-7;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
  padding-bottom: .4rem;
  color: $text-color;
}

h2 {
  font-family: $header-font-family;
  font-size: $font-size-3;
  font-weight: 700;
  color: $header-color;
  text-transform: uppercase;
  letter-spacing: 1.51px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h3 {
  font-family: $base-font-family;
  font-weight: 700;
  font-size: $font-size-2;
  line-height: $base-line-height;
  color: $text-color;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

p {
  font-family: $base-font-family;
  font-size: $font-size-1;
  font-weight: 300;
  color: $text-color;
  letter-spacing: 0px;
  line-height: $base-line-height;
  padding-bottom: 1rem;
}

i {
  font-style: italic;
}

b {
  font-weight: 700;
}

li {
  font-family: $base-font-family;
  font-size: $font-size-1;
  font-weight: 300;
  color: $text-color;
  letter-spacing: 0px;
  line-height: 1.68rem;
}

a {
  color: $link;

}

a hover {
  color: $hover-color;
}

a visited {
  color: $link-visited;
}

.site-footer {
  display: block;
  background-color: $link;
  padding-bottom: 0rem;
  padding-top: 1.2rem;
  @include media-query($desktop) {
  padding-top: 0rem;
  padding-bottom: 1.6rem;
  }
}

.contact-list {
  font-family: $base-font-family;
  font-size: $font-size-1;
  text-align: center;
  li {
    display: inline;
    padding-right: .4rem;
    padding-left: .4rem;
    a {
      text-decoration: none;
    }
  } 
  @include media-query($desktop) {
    text-align: right;
    padding-right: 9rem;
    padding-top: 1.2rem;
    li {
      padding-left: 1rem;
      padding-right: 0rem;
    } 
  }
}

.site-description {
  text-align: center;
  margin-top: .6rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 87%;
  p {
  color: $bright-olive;
  $font-size: $font-size-9;
  }
  @include media-query($desktop) {
  margin-top: -1.4rem;
  margin-bottom: -1.6rem;
  p {
  font-size: $font-size-1;
  }
  }
}




/* case study section divs */

.case-study-section {
  background-color: $background-color-1;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

  .content-container {
    margin-right: auto;
    margin-left: auto;
    width: 87%;
    max-width: $article-width;
    .article-width-image {
    max-width: $article-width;
    }
  }

  .text {
    max-width: $article-width;
    text-align: left;
  }

  .feature-image {
    text-align: center;
    padding-top: 1.6rem;
    padding-bottom: 2.6rem;
    img {
      width: 65%;
      max-width: 300px;
    }
    @include media-query($desktop) {
      img {

      }
    }
  }

  .image-spread-desktop {
  display: none;
  @include media-query($desktop) {
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: -3px;
    }
  } 

  .image-spread-mobile {
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: -3px;
    @include media-query($desktop) {
      display: none;
    }
  }



/* welcome.html for larger screens */

.welcome-section {
  background-color: $blush;
  background-image: url("../images/background_letters_blush.png");
  background-image: repeat;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;

 

  .welcome-content {
  display: none;
  @include media-query($small) {
    display: block;
    font-size: 1.6rem;
    @include media-query($desktop) {
      font-size: 2.44rem;
      }
    }

  .hi-there { 
  font-family: acumin-pro-extra-condensed;
  font-weight: 700;
  font-style: normal;
  color: $header-color;
  font-size: 100%;
  letter-spacing: 2px;
  line-height: 100%;
  }

  .im-beth { 
  font-family: acumin-pro-extra-condensed;
  font-weight: 700;
  color: $text-color;
  font-size: 176%;
  letter-spacing: 2px;
  line-height: 100%;
  padding-top: 2rem;
  }

  .recent-work {
  font-family: acumin-pro-extra-condensed;
  font-weight: 900;
  color: $text-color;
  font-size: 140%;
  letter-spacing: 3px;
  line-height: 110%;
  @include media-query($desktop) {
    font-size: 136%;
    letter-spacing: 4px;
    line-height: 110%;
  }
  }

  .web-design {
  font-family: acumin-pro-wide;
  font-weight: 900;
  color: $text-color;
  font-size: 243%;
  letter-spacing: 4px;
  line-height: 95%;
  @include media-query($desktop) {
    font-size: 237%;
    }
  }

  .illustration {
  font-family: acumin-pro-condensed;
  font-weight: 900;
  color: $text-color;
  font-size: 333%;
  letter-spacing: 6px;
  line-height: 85%;
  }

  .logo-design {
  font-family: acumin-pro;
  font-weight: 900;
  color: $text-color;
  font-size: 130%;
  letter-spacing: 3px;
  line-height: 140%;
  @include media-query($desktop) {
    font-size: 133.5%;
    letter-spacing: 2px;
    }
  }

  .hand-lettering {
  font-family: acumin-pro-extra-condensed;
  font-weight: 900;
  color: $text-color;
  font-size: 335%;
  letter-spacing: 7px;
  line-height: 65%;
  @include media-query($desktop) {
    font-size: 334%;
    letter-spacing: 8px;
    }
  }

  .work-together {
  font-family: acumin-pro-extra-condensed;
  font-weight: 900;
  color: $text-color;
  font-size: 108.5%;
  letter-spacing: 3px;
  line-height: 190%;
  @include media-query($desktop) {
    font-size: 106%;
    letter-spacing: 4px;
    }
  }

  .welcome-contact {
  font-family: acumin-pro;
  font-weight: 700;
  color: $link;
  font-size: 121%;
  letter-spacing: 2px;
  line-height: 45%;
  @include media-query($desktop) {
    font-size: 118%;
    letter-spacing: 2px;
    }
  }

  .fun-facts {
  max-width: 32.8rem;
  margin: auto;
  padding-top: 1.1rem;
  h2 {
    text-align: left;
    font-family: acumin-pro;
    font-weight: 700;
    color: $text-color;
    font-size: 91%;
    letter-spacing: 2.6px;
    padding: 0rem;
    margin: 0rem;
    }
  p {
    text-align: left;
    font-family: acumin-pro-extra-condensed;
    font-weight: 700;
    color: $text-color;
    font-size: 99%;
    letter-spacing: 1px;
    line-height: 108%;
    padding-top: .2rem;
    margin: 0rem;
    }
  @include media-query($desktop) {
    max-width: 47.7rem;
    padding-top: 1.6rem;
    }
  }
}

}



/* welcome.html for mobile */

.welcome-content-mobile {
  display: block;

  @include media-query($small) {
    display: none;
  }

.hi-there-mobile { 
  font-family: acumin-pro-extra-condensed;
  font-weight: 700;
  font-style: normal;
  color: $header-color;
  font-size: 200%;
  letter-spacing: 2px;
  line-height: 100%;
  margin-top: .2rem;
  }

  .im-beth-mobile-1 { 
  font-family: acumin-pro-extra-condensed;
  font-weight: 700;
  color: $text-color;
  font-size: 300%;
  letter-spacing: 2px;
  line-height: 90%;
  padding-top: 2.3rem;
  }

  .im-beth-mobile-2 { 
  font-family: acumin-pro-extra-condensed;
  font-weight: 700;
  color: $text-color;
  font-size: 305%;
  letter-spacing: 2px;
  line-height: 90%;
  }

  .recent-work-mobile-1 {
  font-family: acumin-pro-wide;
  font-weight: 900;
  color: $text-color;
  font-size: 173%;
  letter-spacing: 4px;
  line-height: 125%;
  }

  .recent-work-mobile-2 {
  font-family: acumin-pro-wide;
  font-weight: 900;
  color: $text-color;
  font-size: 159%;
  letter-spacing: 4px;
  line-height: 90%;
  }

  .recent-work-mobile-3 {
  font-family: acumin-pro;
  font-weight: 900;
  color: $text-color;
  font-size: 249%;
  letter-spacing: 4px;
  line-height: 110%;
  }

  .web-design-mobile {
  font-family: acumin-pro-extra-condensed;
  font-weight: 700;
  color: $text-color;
  font-size: 432%;
  letter-spacing: 4px;
  line-height: 71%;
  }

  .illustration-mobile {
  font-family: acumin-pro-extra-condensed;
  font-weight: 900;
  color: $text-color;
  font-size: 332%;
  letter-spacing: 4px;
  line-height: 110%;
  }

  .logo-design-mobile-1 {
  font-family: acumin-pro-wide;
  font-weight: 900;
  color: $text-color;
  font-size: 345%;
  letter-spacing: 3px;
  line-height: 78%;
  }

  .logo-design-mobile-2 {
  font-family: acumin-pro;
  font-weight: 900;
  color: $text-color;
  font-size: 152%;
  letter-spacing: 3px;
  line-height: 150%;
  }

  .hand-lettering-mobile {
  font-family: acumin-pro-extra-condensed;
  font-weight: 700;
  color: $text-color;
  font-size: 310%;
  letter-spacing: 3px;
  line-height: 60%;
  }

  .work-together-mobile {
  font-family: acumin-pro-extra-condensed;
  font-weight: 700;
  color: $text-color;
  font-size: 107%;
  letter-spacing: 1px;
  line-height: 230%;
  }

  .welcome-contact-mobile {
  font-family: acumin-pro;
  font-weight: 900;
  color: $text-color;
  font-size: 101%;
  letter-spacing: 1px;
  line-height: 20%;
  }

  .fun-facts-mobile {
  max-width: 17.2rem;
  margin: auto;
  padding-top: 1.8rem;
  h2 {
    text-align: left;
    font-family: acumin-pro;
    font-weight: 700;
    color: $text-color;
    font-size: 106%;
    letter-spacing: 2.6px;
    line-height: 110%;
    padding: 0rem;
    margin: 0rem;
    }
  p {
    text-align: left;
    font-family: acumin-pro-extra-condensed;
    font-weight: 700;
    color: $text-color;
    font-size: 137%;
    letter-spacing: 1px;
    line-height: 108%;
    padding-top: .2rem;
    margin: 0rem;
    }
  }


}



/* gallery.html */

.gallery-section {
  background-color: $background-color-2;
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin-top: -0.5rem;
  width: 100%;
  height: 100%;

  &::after {
  content: "";
  display: table;
  clear: both;
  }

  .gallery-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-left: 2px;
    max-width: $gallery-width;
    h2 {
      width: 87%;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 2rem;
      @include media-query($desktop) {
      width: 100%;
      }
      }
    @include media-query($desktop) {
      padding: 0px;
    }  
  }
  .square {
    float: left;
    width: 33%;
    padding-bottom: 33%;
    position: relative;
  }

  .square-content {
    position: absolute;
    max-width: 400px;
    img {
    width: 100%;
    height: 100%;
    opacity: 1.0;
    filter: alpha(opacity=100);
    }
    img:hover {
    opacity: 0.75;
    filter: alpha(opacity=75);
    }
  }
}


/* gallery slideshow modal */

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0rem;
    width: 100%;
    max-width: 800px;
  }

  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .gallery-slides {
    display: block;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: $light-grey;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .caption-container {
    text-align: center;
    background-color: black;
    padding: 1rem;
    #caption {
      color: $medium-grey;
      font-family: $base-font-family;
      font-weight: 300;
      font-style: italic;
    }
  }



/* contact me.html */

.contact-me-section {
  background-color: $bright-olive;
  font-family: $base-font-family;
  font-size: $font-size-2;
  line-height: $base-line-height;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 0rem;
  padding-right: 0rem;
  @include media-query($desktop) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
}

.contact-me-content {
  h2 {
  color: $text-color;
  margin-bottom: -1rem;
  }
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: $narrow-width;

}



/* testimonials */

.testimonial-section {
  background-color: $background-color-1;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.testimonial {
  text-align: center;
  p {
  padding-top: .6rem;
  padding-bottom: .6rem;
  font-family: $header-font-family;
  text-transform: uppercase;
  color: $text-color;
  font-weight: 500;
  font-size: $font-size-3;
  letter-spacing: 1px;
  i {
  font-style: italic;
  }
  b {
  font-weight: 500;
  background-color: $blush;
  }
  }
  img {
  padding-top: 2rem;
  }
}

/* blog */

.blog-index {
  background-color: $blush;
  background-image: url("../images/background_letters_blush.png");
  background-image: repeat;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.post-meta {
  font-family: $base-font-family;
  font-weight: 700;
}

.blog-subhead {
  font-family: $header-font-family;
  font-size: $font-size-3;
  font-weight: 700;
  color: $text-color;
  text-transform: uppercase;
  letter-spacing: 1.51px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.blog-cta {
  h2 {
    padding-top: 2.5rem;
    padding-bottom: 3.1rem;
  }
  text-align: center;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

#newsletter-email {
  margin: .6rem;
  padding: .6rem;
  height: 1rem;
  width: 80%;
  max-width: 18rem;
  font-size: $font-size-1;
  font-family: $base-font-family;
  @include media-query($desktop) {

  }
}

#newsletter-subscribe {
  margin-top: .6rem;
  margin-bottom: 3rem;
  padding: .6rem;
  border: none;
  background-color: $link;
  color: $background-color-1;
  width: 80%;
  max-width: 12rem;
  font-size: $font-size-1;
  font-family: $base-font-family;
  @include media-query($desktop) {

  }
}




/* blog posts */

.blog-post {
  margin-right: auto;
  margin-left: auto;
  padding-top: 6rem;
  max-width: $article-width;
  background-color: $background-color-1;
  .blog-post-content {
  h2 {
  color: $text-color;
  font-size: $font-size-3;
  font-weight: 300;
  letter-spacing: 1px;
  }
  }
  img {

  }
}

.post {
  background-color: $background-color-1;
}

.caption {
  font-size: $caption;
  font-family: $base-font-family;
  font-weight: 300;
  font-style: italic;
  color: $medium-grey;
}

.post-cta {
  text-align: center;
  width: 80%;
  max-width: $article-width;
  margin-right: auto;
  margin-left: auto;
  h2 {
  font-weight: 300;
  font-size: $font-size-2;
  letter-spacing: 1px;
  color: $text-color;
  line-height: 1.4rem;
  }
}











/* not currently in use */

  .text-column-left {
    margin-bottom: 2rem;
    @include media-query($desktop) {
    float: left;
    width: 55%;
    max-width: 550px;
    }
  }  

  .image-column-right {
    @include media-query($desktop) {
      float: right;
      width: 42%;
      vertical-align: middle; 
    }
  }




/* in the case study section when it's two columns
    &::after {
    content: "";
    display: table;
    clear: both;
    }
  */


#input-box {
  margin: .6rem;
  padding: .6rem;
  height: 1rem;
  width: 80%;
  max-width: 22rem;
  font-size: $font-size-1;
  font-family: $base-font-family;
  @include media-query($desktop) {

  }
}

#description-box {
  margin: .6rem;
  padding: .6rem;
  height: 8rem;
  width: 80%;
  max-width: 22rem;
  font-size: $font-size-1;
  font-family: $base-font-family;
  input[type="description"]::-webkit-input-placeholder {
  vertical-align: top;
  }
  @include media-query($desktop) {

  }
}


#prospective-client { 
  font-family: $header-font-family;
  font-size: $font-size-3;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $light-coral;
  .button {
  background-color: $text-color;
  border: none;
  margin: 2rem;
  padding-top: .3rem;
  padding-bottom: .4rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  }
}

.contact-page {
  background-color: $bright-olive;
  padding-bottom: 20%;
}

