---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* CSS RESET http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";

// Our variables
$base-font-family: "effra", sans-serif;
$header-font-family: "acumin-pro-extra-condensed", sans-serif;
/* modular scale of 1.6 on a base of 1.05 and 1.2 */
$font-size-1: 1.05rem;
$font-size-2: 1.2rem;
$font-size-3: 1.68rem;
$font-size-4: 1.92rem;
$font-size-5: 2.68rem;
$font-size-6: 3.07rem;
$font-size-7: 4.3rem; 
$font-size-8: 4.92rem;
$font-size-9: .75rem;
$base-line-height: 1.45;
$article-width: 32.21rem;
$feature-image-width: 300px;
$welcome-note-width: 600px;


$background-color-1: rgb(241, 241, 240);
$welcome-background-color: rgb(4,65,90);
$light-grey: rgb(220,220,220);
$medium-grey: rgb(190,187,180);
$light-coral: rgb(253,155,150);
$light-coral-transparent: rgba(253,160,153, 0.6);
$blush: rgb(250,208,198);
$text-color: rgb(35,32,30);
$headline-color: rgb(220,220,180);
$header-color: rgb(253,63,50);
$link: rgb(82,115,52);
$link-visited: rgb(40,70,10);
$hover-color: rgb(200,120,45);

$desktop:        1024px;

@mixin media-query($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}



/* default.html, incl nav and footer, type formatting */

.nav-links {
  li {
    display: inline;
    padding: .4rem;
    opacity: 1;
  }
  font-family: $header-font-family;
  font-size: $font-size-2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  list-style-type: none;
  position: absolute;
  right: 0rem;
  text-align: right;
  padding-right: 9rem;
  padding-top: 1.5rem;
  width: 100%;
  background-color: rgba(253,155,150, 0.0);

  background-size: 100%;
  margin-bottom: 0rem;
}

h2 {
  font-family: $header-font-family;
  font-size: $font-size-3;
  font-weight: 700;
  color: $header-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h3 {
  font-family: $base-font-family;
  font-weight: 700;
  font-size: $font-size-2;
  color: $text-color;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

p {
  font-family: $base-font-family;
  font-size: $font-size-1;
  font-weight: 300;
  color: $text-color;
  letter-spacing: 0px;
  line-height: $base-line-height;
  padding-bottom: 1rem;
}

a {
  color: $link;

}

a hover {
  color: $hover-color;
}

a visited {
  color: $link-visited;
}

.site-footer {
  display: block;
  background-color: $medium-grey;
  padding-bottom: 2.6rem;
  padding-top: .1rem;
}

.contact-list {
  font-family: $base-font-family;
  font-size: $font-size-1;
  li {
    display: inline;
    padding-right: 1rem;
    a {
      text-decoration: none;
    }
  } 
}

.site-description {
  text-align: center;
  margin: -2.8rem;
  color: "#828282";
}




/* case study section divs */

  .content-container {
    margin-right: auto;
    margin-left: auto;
    width: $article-width;
  }

  .text {
    width: $article-width;
    text-align: left;
  }

  .feature-image {
    text-align: center;
    margin-top: 0rem;
    img {
    width: 50%;
    min-width: 200px;
    max-width: 240px;
    }
  }

  .image-spread-desktop {
  display: none;
  @include media-query($desktop) {
    display: block;
    height: 100%;
    width: 100%;
    }
  } 

  .image-spread-mobile {
    display: block;
    height: 100%;
    width: 100%;
    @include media-query($desktop) {
      display: none;
    }
  }



/* welcome.html */

.welcome-section {
  background-color: $blush;
  background-image: url("../images/background_letters_blush.png");
  background-image: repeat;
  padding: 0px;
  min-height: 32rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 8rem;
  font-size: 2rem;

  .hi-there {
  font-family: acumin-pro-extra-condensed;
  font-weight: 700;
  font-style: normal;
  font-size: 100%;
  letter-spacing: 2px;
  line-height: 100%;
  color: $header-color;
  }

  .im-beth {
  font-family: acumin-pro-extra-condensed;
  font-weight: 700;
  font-size: 165%;
  letter-spacing: 3px;
  line-height: 100%;
  padding-top: 2rem;
  color: $text-color;
  }

  .recent-work {
  font-family: acumin-pro-extra-condensed;
  font-weight: 900;
  font-size: 133%;
  letter-spacing: 4px;
  line-height: 125%;
  color: $text-color;
  }

  .web-design {
  font-family: acumin-pro-wide;
  font-weight: 900;
  font-size: 238%;
  letter-spacing: 4px;
  line-height: 100%;
  color: $text-color;
  }

  .illustration {
  font-family: acumin-pro-condensed;
  font-weight: 900;
  font-size: 332%;
  letter-spacing: 6px;
  line-height: 90%;
  color: $text-color;
  }

  .logo-design {
  font-family: acumin-pro;
  font-weight: 900;
  font-size: 134%;
  letter-spacing: 2px;
  line-height: 145%;
  color: $text-color;
  }

  .hand-lettering {
  font-family: acumin-pro-extra-condensed;
  font-weight: 900;
  font-size: 327%;
  letter-spacing: 8px;
  line-height: 70%;
  color: $text-color;
  }

  .fun-facts {
  max-width: 40rem;
  margin: auto;
  padding-top: 1rem;
  h2 {
    text-align: left;
    font-family: acumin-pro;
    font-weight: 700;
    font-size: 94%;
    color: $text-color;
    padding: 0rem;
    margin: 0rem;
    }
  p {
    text-align: left;
    font-family: acumin-pro-extra-condensed;
    font-weight: 700;
    font-size: 100%;
    letter-spacing: 1px;
    line-height: 108%;
    color: $text-color;
    padding: 0rem;
    margin: 0rem;
    }
  }



}



/* swift_kick.html */

.swift-kick-section {
  background-color: $background-color-1;
  padding-top: 4rem;
  padding-bottom: 4rem;
}



/* gallery.html */

.gallery-section {
  background-color: $background-color-1;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: -0.5rem;
  width: 100%;
  height: 100%;

  &::after {
  content: "";
  display: table;
  clear: both;
  }
  .content-container {
    h2 {
    padding-bottom: 2rem;
    }
  }
  .square {
    float: left;
    width: 33%;
    padding-bottom: 33%;
    position: relative;
  }

  .square-content {
    position: absolute;
    max-width: 400px;
    img {
    width: 100%;
    height: 100%;
    opacity: 1.0;
    filter: alpha(opacity=100);
    }
    img:hover {
    opacity: 0.75;
    filter: alpha(opacity=75);
    }
  }
}


/* gallery slideshow modal */

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0rem;
    width: 100%;
    max-width: 800px;
  }

  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .gallery-slides {
    display: block;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: $light-grey;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .caption-container {
    text-align: center;
    background-color: black;
    padding: 1rem;
    #caption {
      color: $medium-grey;
      font-family: $base-font-family;
      font-weight: 300;
      font-style: italic;
    }
  }



/* contact form include */
.contact-form {
  background-color: $light-coral;
  font-family: $base-font-family;
  font-size: $font-size-2;
  text-align: center;
  padding: 10rem;

}

#input-box {
  margin: .6rem;
  padding: .6rem;
  height: 1rem;
  width: 20rem;
  font-size: $font-size-1;
  font-family: $base-font-family;
}


#prospective-client { 
  font-family: $header-font-family;
  font-size: $font-size-3;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $text-color;
  .button {
  background-color: $light-coral;
  border: none;
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  }
}



/* blog posts */

/* not currently in use */

  .text-column-left {
    margin-bottom: 2rem;
    @include media-query($desktop) {
    float: left;
    width: 55%;
    max-width: 550px;
    }
  }  

  .image-column-right {
    @include media-query($desktop) {
      float: right;
      width: 42%;
      vertical-align: middle; 
    }
  }


/* in the case study section when it's two columns
    &::after {
    content: "";
    display: table;
    clear: both;
    }
  */
